# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

In [1]:
# Exercise 1
x=list(range(1,10))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [2]:
# Exercise 2
x=("apple","banana","cherry")
x=tuple(x)
print(x)

('apple', 'banana', 'cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [3]:
# Exercise 3
n=[10,20,30,40]
n=tuple(n)
print(n)

(10, 20, 30, 40)


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [4]:
# Exercise 4
x=set(range(1,6))
print(x)

{1, 2, 3, 4, 5}


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [5]:
# Exercise 5
student={"name":"Alice","age":20,"grade":"A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [6]:
# Exercise 6
x=[10,20,30,40,50]
print(x[1])

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [7]:
# Exercise 7
fruits=["apple","banana","cherry","orange"]
fruits[2]="mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [9]:
# Exercise 8
number={1,2,3,4,5}
number.add(6)
print(number)

{1, 2, 3, 4, 5, 6}

In [22]:
dir(number)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [10]:
# Exercise 9
person = {"name":"John","age":25,"city":"New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [12]:
# Exercise 10
x=range(0,9)
#x=(list(x))
print(x)

range(0, 9)


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [14]:

x = list(range(1, 10))
squares = [i**2 for i in x]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [27]:
# Exercise 12
#x=tuple(range(2,10,2))
#print(x)
even_numbers = tuple(x for x in range(2, 10) if x % 2 == 0)
print(even_numbers)

(2, 4, 6, 8)


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [33]:
# Exercise 13
fruits = ["apple","banana","cherry"]
for i in fruits:
 print(i)

apple
banana
cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [40]:
# Exercise 14
numbers={1, 2, 3, 4, 5}
if 3 in numbers:
    print("3 exists in the set")
else :
        print("3 is not exists in the set")

3 exists in the set


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [41]:
# Exercise 15
numbers = (10, 20, 30)
numbers =len(numbers)
print(numbers)

3


---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [43]:
# Exercise 16
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [57]:
# Exercise 16
def sum_of_list(numbers):
    Ans = 0
    for num in numbers:
        Ans += num
    return Ans

# Define the list
num_list = [1, 2, 3, 4, 5]
#input("Enter the numbers")
# Call the function and print the result
print(sum_of_list(num_list))

15


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [58]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(numbers)
print(unique_numbers)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [59]:
# Exercise 19
my_string = "hello"
list_of_characters = list(my_string)
print(list_of_characters)

['h', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [64]:
# Exercise 20
def reverse_tuple(x):
    return x[::-1]

# Example usage
original_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(original_tuple)
print(reversed_tuple)

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [66]:
# Exercise 21
dict1={"a": 1, "b": 2}
dict2={"c": 3, "d": 4}

merged_dict = {**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [68]:
# Exercise 22
squares = {x: x**2 for x in range(1, 5)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [3]:
# Exercise 23
# Example dictionary
my_dict = {
    "name": "Annick",
    "age": 28,
    "city": "Kigali"
}

# Iterate and print key-value pairs
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Annick
age: 28
city: Kigali


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [4]:
# Exercise 24
# Create the list using chr() and list comprehension
first_five_letters = [chr(97 + i) for i in range(5)]

print(first_five_letters)

['a', 'b', 'c', 'd', 'e']


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [5]:
# Exercise 25
# Two lists
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

# Combine using zip()
combined_list = list(zip(list1, list2))

print(combined_list)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [6]:
# Exercise 26
# The list
numbers = [10, 20, 30, 40, 50]

# Find the index of 50
index_50 = numbers.index(50)

print(f"The index of 50 is: {index_50}")

The index of 50 is: 4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [7]:
# Exercise 27
# The list of names
names = ["Alice", "Bob", "Charlie", "David"]

# Sort the list in alphabetical order
names.sort()

print(names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [8]:
# Exercise 28
def find_largest(numbers):
    """
    Returns the largest number in a list.
    If the list is empty, returns None.
    """
    if not numbers:
        return None  # Return None for an empty list

    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest

# --- Example Usage ---
print(find_largest([1, 2, 3, 4, 5]))  # Expected: 5
print(find_largest([-10, -5, -1]))    # Expected: -1
print(find_largest([]))               # Expected: None

5
-1
None


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [9]:
# Exercise 29
# The list of fruits
fruits = ["apple", "banana", "apple", "orange"]

# Use count() to count the occurrences of "apple"
apple_count = fruits.count("apple")

print(f"'apple' appears {apple_count} times in the list.")

'apple' appears 2 times in the list.


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [10]:
# Exercise 30
# Create the dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}

# Access the value of the "city" key
city_value = person["city"]

print(f"The value of the 'city' key is: {city_value}")

The value of the 'city' key is: New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [11]:
# Exercise 31
def remove_duplicates(input_list):
    """
    Takes a list and returns a new list with duplicates removed.
    """
    # Use set() to remove duplicates, then convert back to list
    return list(set(input_list))

# --- Example Usage ---
print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))  # Expected: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [12]:
# Exercise 32
def list_intersection(list1, list2):
    """
    Returns a list containing the intersection of list1 and list2.
    """
    return list(set(list1) & set(list2))

# --- Example Usage ---
print(list_intersection([1, 2, 3, 4], [3, 4, 5, 6]))  # Expected: [3, 4]
print(list_intersection(['a', 'b', 'c'], ['b', 'c', 'd']))  # Expected: ['b', 'c']

[3, 4]
['b', 'c']


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [13]:
# Exercise 33
def squares_generator():
    for i in range(1, 11):
        yield i ** 2

# Example usage:
for square in squares_generator():
    print(square)

1
4
9
16
25
36
49
64
81
100


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [14]:
# Exercise 34
def sum_dict_values(d):
    """
    Returns the sum of all values in the dictionary d.
    """
    return sum(d.values())

# --- Example Usage ---
example_dict = {'a': 10, 'b': 20, 'c': 30}
print(sum_dict_values(example_dict))

60


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [15]:
# Exercise 35
numbers = [3, 1, 4, 1, 5, 9]

sorted_numbers = sorted(numbers)

print(sorted_numbers)

[1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [16]:
# Exercise 36
def longest_string(strings):
    """
    Returns the longest string from the list.
    If the list is empty, returns None.
    """
    if not strings:
        return None  # Handle empty list

    longest = strings[0]
    for s in strings:
        if len(s) > len(longest):
            longest = s
    return longest

# --- Example Usage ---
print(longest_string(["apple", "banana", "cherry", "date"]))  # Expected: "banana"
print(longest_string([]))  # Expected: None

banana
None


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [17]:
# Exercise 37
numbers = [1, 2, 3, 4, 5]

all_greater_than_zero = all(num > 0 for num in numbers)

print(all_greater_than_zero)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [18]:
# Exercise 38
# Using list comprehension
number_square_tuples = [(i, i**2) for i in range(1, 6)]

print(number_square_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [19]:
# Exercise 39
def get_second_elements(tuple_list):
    """
    Returns a list of the second elements from each tuple in the input list.
    """
    return [t[1] for t in tuple_list]

# --- Example Usage ---
tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
print(get_second_elements(tuples))

['a', 'b', 'c']


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [20]:
# Exercise 40
def flatten_list(list_of_lists):
    """
    Flattens a list of lists into a single list.
    """
    flattened = []
    for sublist in list_of_lists:
        flattened.extend(sublist)
    return flattened

# --- Example Usage ---
nested_list = [[1, 2], [3, 4], [5]]
print(flatten_list(nested_list))  # Expected: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [21]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]

for index, value in enumerate(fruits):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [22]:
# Exercise 42
t = ()
if not t:
    print("Tuple is empty")
else:
    print("Tuple is not empty")

Tuple is empty


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [23]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [24]:
# Exercise 44
def reverse_list(numbers):
    return numbers[::-1]

# --- Example Usage ---
print(reverse_list([1, 2, 3, 4, 5]))  # Expected: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [25]:
# Exercise 45
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [26]:
# Exercise 46
original_list = [1, 2, 2, 3, 4, 4, 5]

unique_list = list(set(original_list))

print(unique_list)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [27]:
# Exercise 47
def get_values(dict_list, key):
    """
    Returns a list of values for the given key from each dictionary in the list.
    If a dictionary does not have the key, it skips it.
    """
    return [d[key] for d in dict_list if key in d]

# --- Example Usage ---
dicts = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie"}
]

print(get_values(dicts, "age"))  # Expected: [25, 30]
print(get_values(dicts, "name")) # Expected: ['Alice', 'Bob', 'Charlie']

[25, 30]
['Alice', 'Bob', 'Charlie']


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [28]:
# Exercise 48
def fibonacci(n):
    a, b = 0, 1
    count = 0
    while count < n:
        yield a
        a, b = b, a + b
        count += 1

# --- Example Usage ---
for num in fibonacci(10):
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [29]:
# Exercise 49
def unique_chars(s):
    return list(set(s))

# --- Example Usage ---
print(unique_chars("hello"))  # Possible output: ['h', 'e', 'l', 'o']

['h', 'e', 'l', 'o']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [30]:
# Exercise 50
def merge_sorted_lists(list1, list2):
    merged = []
    i, j = 0, 0

    # Loop through both lists until one is exhausted
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged.append(list1[i])
            i += 1
        else:
            merged.append(list2[j])
            j += 1

    # Append any remaining elements from list1 or list2
    merged.extend(list1[i:])
    merged.extend(list2[j:])

    return merged

# --- Example Usage ---
list_a = [1, 3, 5]
list_b = [2, 4, 6]
print(merge_sorted_lists(list_a, list_b))  # Expected: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [31]:
# Exercise 51
numbers = [1, 2, 3, 4, 5, 6]

# Filter only even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4, 6]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [32]:
# Exercise 52
tuples_list = [(1, 2), (3, 4), (5, 6)]

# Convert list of tuples to dictionary
result_dict = dict(tuples_list)

print(result_dict)

{1: 2, 3: 4, 5: 6}


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [33]:
# Exercise 53
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

# --- Example Usage ---
a = {1, 2, 3}
b = {2, 3, 4}

print(symmetric_difference(a, b))  # Output: {1, 4}

{1, 4}


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [34]:
# Exercise 54
list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [0, 2, 3, 7]

# Convert lists to sets and find intersection
common_elements = set(list1) & set(list2) & set(list3)

print(list(common_elements))  # Output: [2, 3]

[2, 3]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [35]:
# Exercise 55
def factorial(n):
    if n == 0 or n == 1:
        return 1  # Base case: factorial of 0 or 1 is 1
    else:
        return n * factorial(n - 1)  # Recursive case

# --- Example Usage ---
print(factorial(5))  # Output: 120

120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [36]:
# Exercise 56
fruits = ["apple", "", "banana", "", "cherry"]

# Remove empty strings using list comprehension
filtered_fruits = [fruit for fruit in fruits if fruit != ""]

print(filtered_fruits)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [37]:
# Exercise 57
def swap_dict_keys_values(d):
    return {value: key for key, value in d.items()}

# --- Example Usage ---
original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = swap_dict_keys_values(original_dict)
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [38]:
# Exercise 58
def filter_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

# --- Example Usage ---
nums = [1, 2, 3, 4, 5, 6]
even_nums = filter_even_numbers(nums)
print(even_nums)  # Output: [2, 4, 6]

[2, 4, 6]


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [39]:
# Exercise 59
def first_elements(tuples_list):
    return [t[0] for t in tuples_list]

# --- Example Usage ---
tuples = [(1, 2), (3, 4), (5, 6)]
result = first_elements(tuples)
print(result)

[1, 3, 5]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [40]:
# Exercise 60
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

# --- Example Usage ---
original_list = [1, 2, 3, 2, 1, 4, 5, 3]
new_list = remove_duplicates(original_list)
print(new_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [41]:
# Exercise 61
strings = ["apple", "banana", "cherry"]

lengths = list(map(len, strings))

print(lengths)

[5, 6, 6]


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [42]:
# Exercise 62
def average(numbers):
    if len(numbers) == 0:
        return 0  # Avoid division by zero
    return sum(numbers) / len(numbers)

# --- Example Usage ---
nums = [10, 20, 30, 40, 50]
print(f"Average: {average(nums)}")

Average: 30.0


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [43]:
# Exercise 63
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    fib_list = [0, 1]
    while len(fib_list) < n:
        next_num = fib_list[-1] + fib_list[-2]
        fib_list.append(next_num)
    return fib_list

# --- Example Usage ---
print(fibonacci(7))

[0, 1, 1, 2, 3, 5, 8]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [44]:
# Exercise 64
from collections import Counter

fruits = ["apple", "banana", "apple", "cherry"]

count = Counter(fruits)

print(count)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [45]:
# Exercise 65
def remove_all_occurrences(lst, value):
    return [item for item in lst if item != value]

# --- Example Usage ---
my_list = [1, 2, 3, 2, 4, 2, 5]
value_to_remove = 2

new_list = remove_all_occurrences(my_list, value_to_remove)
print(new_list)

[1, 3, 4, 5]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [46]:
# Exercise 66
def starts_with_vowel(strings):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    return [s for s in strings if s and s[0].lower() in vowels]

# --- Example Usage ---
words = ["apple", "banana", "orange", "umbrella", "grape", "egg"]
result = starts_with_vowel(words)
print(result)

['apple', 'orange', 'umbrella', 'egg']


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [47]:
# Exercise 67 
# Example sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection
intersection = set1.intersection(set2)

print("Intersection:", intersection)

Intersection: {3, 4, 5}


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [48]:
# Exercise 68
def flatten_list(nested_list):
    """
    Flattens a nested list into a single list.

    Args:
        nested_list: A list which may contain nested lists.

    Returns:
        A flat list with all the elements.
    """
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))  # Recursive call for nested lists
        else:
            flat_list.append(item)
    return flat_list

# Example usage:
nested = [1, [2, [3, 4], 5], 6]
flat = flatten_list(nested)
print(flat)

[1, 2, 3, 4, 5, 6]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [49]:
# Exercise 69
def are_elements_unique(lst):
    """
    Checks if all elements in a list are unique.

    Args:
        lst: A list of elements.

    Returns:
        True if all elements are unique, False otherwise.
    """
    return len(lst) == len(set(lst))

# Example usage:
numbers = [1, 2, 3, 4, 5]
print(are_elements_unique(numbers)) 

numbers = [1, 2, 3, 3, 5]
print(are_elements_unique(numbers))

True
False


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [50]:
# Exercise 70
from functools import reduce

def multiply_list_elements(lst):
    """
    Multiplies all elements in a list.

    Args:
        lst: A list of numbers.

    Returns:
        The product of all numbers in the list.
    """
    return reduce(lambda x, y: x * y, lst)

# Example usage:
numbers = [1, 2, 3, 4, 5]
product = multiply_list_elements(numbers)
print(product)

120


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [51]:
# Exercise 71
def strings_to_length_dict(strings):
    """
    Takes a list of strings and returns a dictionary where keys are the strings
    and values are their lengths.
    """
    return {s: len(s) for s in strings}

# Example usage:
words = ["apple", "banana", "cherry"]
result = strings_to_length_dict(words)
print(result)

{'apple': 5, 'banana': 6, 'cherry': 6}


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [52]:
# Exercise 72
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = sum(1 for char in s if char in vowels)
    return count

# Example usage:
text = "Hello, World!"
print("Number of vowels:", count_vowels(text))

Number of vowels: 3


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [53]:
# Exercise 73
import math

factorials = [(i, math.factorial(i)) for i in range(1, 6)]
print(factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [54]:
# Exercise 74
def merge_dicts(dict_list):
    merged_dict = {}
    for d in dict_list:
        merged_dict.update(d)
    return merged_dict

# Example
dicts = [{'a': 1}, {'b': 2}, {'c': 3}]
result = merge_dicts(dicts)
print(result)

{'a': 1, 'b': 2, 'c': 3}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [55]:
# Exercise 75
def is_subset(set1, set2):
    return set1.issubset(set2)

# Example usage
set_a = {1, 2, 3}
set_b = {1, 2, 3, 4, 5}
print(is_subset(set_a, set_b))

True


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [56]:
# Exercise 76
# Sample list of tuples
tuples_list = [(1, 3), (2, 1), (4, 2), (3, 4)]

# Sort the list of tuples by the second element
sorted_list = sorted(tuples_list, key=lambda x: x[1])

print(sorted_list)

[(2, 1), (4, 2), (1, 3), (3, 4)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [57]:
# Exercise 77
def filter_positive(numbers):
    return [num for num in numbers if num > 0]

# Example usage
nums = [-3, 0, 5, -1, 8, -2]
positive_nums = filter_positive(nums)
print(positive_nums)

[5, 8]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [58]:
# Exercise 78
def union_sets(set1, set2):
    return set1.union(set2)

# Example usage
set_a = {1, 2, 3}
set_b = {3, 4, 5}
result = union_sets(set_a, set_b)
print(result)

{1, 2, 3, 4, 5}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [59]:
# Exercise 79
def product_of_list(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

# Example usage
nums = [2, 3, 4]
print(product_of_list(nums))

24


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [60]:
# Exercise 80
# List of characters
char_list = ['H', 'e', 'l', 'l', 'o']

# Convert list to string using join()
result_string = ''.join(char_list)

print(result_string)

Hello


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [61]:
# Exercise 81
def second_largest(numbers):
    # Remove duplicates to handle cases where largest repeats
    unique_numbers = list(set(numbers))
    if len(unique_numbers) < 2:
        return None  # No second largest if fewer than 2 unique numbers
    unique_numbers.sort()
    return unique_numbers[-2]

# Example usage
nums = [4, 1, 7, 7, 3, 9, 2]
print(second_largest(nums))

7


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [62]:
# Exercise 82
def sorted_keys(d):
    return sorted(d.keys())

# Example usage
my_dict = {'banana': 3, 'apple': 5, 'cherry': 1}
print(sorted_keys(my_dict))

['apple', 'banana', 'cherry']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [63]:
# Exercise 83
from collections import Counter

def most_common_element(lst):
    if not lst:
        return None  # Handle empty list
    counter = Counter(lst)
    most_common = counter.most_common(1)  # List of (element, count) tuples
    return most_common[0][0]

# Example usage
my_list = [3, 1, 3, 2, 3, 1, 2, 2, 2]
print(most_common_element(my_list))

2


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [64]:
# Exercise 84
def sort_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

# Example usage
my_tuples = [(3, 'c'), (1, 'a'), (2, 'b')]
print(sort_by_first_element(my_tuples))

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [65]:
# Exercise 85
def remove_duplicates(dict_list):
    seen = set()
    unique_dicts = []
    for d in dict_list:
        # Convert dict items to a tuple of sorted key-value pairs
        dict_tuple = tuple(sorted(d.items()))
        if dict_tuple not in seen:
            seen.add(dict_tuple)
            unique_dicts.append(d)
    return unique_dicts

# Example usage
dicts = [
    {'name': 'Alice', 'age': 25},
    {'age': 25, 'name': 'Alice'},  # Duplicate but different order
    {'name': 'Bob', 'age': 30},
    {'name': 'Alice', 'age': 25}   # Exact duplicate
]

result = remove_duplicates(dicts)
print(result)

[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [66]:
# Exercise 86
def find_min_max(numbers):
    if not numbers:
        return None, None  # Handle empty list case
    minimum = min(numbers)
    maximum = max(numbers)
    return minimum, maximum

# Example usage:
nums = [3, 7, 1, 9, 4]
min_num, max_num = find_min_max(nums)
print(f"Minimum: {min_num}, Maximum: {max_num}")

Minimum: 1, Maximum: 9


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [67]:
# Exercise 87
# Two example lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Create list of tuples by pairing elements from both lists
result = list(zip(list1, list2))

print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [68]:
# Exercise 88
def reverse_list(strings):
    return strings[::-1]

# Example usage:
words = ["apple", "banana", "cherry"]
reversed_words = reverse_list(words)
print(reversed_words)

['cherry', 'banana', 'apple']


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [69]:
# Exercise 89
def sum_of_odds(numbers):
    total = 0
    for num in numbers:
        if num % 2 != 0:  # Check if the number is odd
            total += num
    return total

# Example usage:
nums = [1, 2, 3, 4, 5, 6]
print(sum_of_odds(nums))

9


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [70]:
# Exercise 90
def is_palindrome(s):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    s = s.replace(" ", "").lower()
    return s == s[::-1]

# Example usage:
string = input("Enter a string: ")
if is_palindrome(string):
    print("It is a palindrome.")
else:
    print("It is not a palindrome.")

Enter a string: company
It is not a palindrome.


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [71]:
# Exercise 91
def find_median(numbers):
    numbers = sorted(numbers)  # Sort the list
    n = len(numbers)
    mid = n // 2

    if n % 2 == 1:
        # Odd number of elements: return the middle one
        return numbers[mid]
    else:
        # Even number of elements: return the average of the two middle ones
        return (numbers[mid - 1] + numbers[mid]) / 2

# Example usage:
nums = [3, 1, 4, 2, 5]
print("Median:", find_median(nums))  

nums_even = [3, 1, 4, 2]
print("Median:", find_median(nums_even))

Median: 3
Median: 2.5


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [72]:
# Exercise 92
def sum_dict_values(dict_list):
    total = {}
    for d in dict_list:
        for key, value in d.items():
            total[key] = total.get(key, 0) + value
    return total

# Example usage:
dicts = [
    {'a': 10, 'b': 5},
    {'a': 3, 'b': 7, 'c': 4},
    {'a': 1, 'c': 2}
]

print(sum_dict_values(dicts))

{'a': 14, 'b': 12, 'c': 6}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [73]:
# Exercise 93
from collections import Counter

def find_mode(numbers):
    if not numbers:
        return None  # No mode if list is empty
    
    counts = Counter(numbers)
    max_count = max(counts.values())
    
    # Get all numbers with the max frequency
    modes = [num for num, count in counts.items() if count == max_count]
    
    if len(modes) == 1:
        return modes[0]  # Single mode
    else:
        return modes     # Multiple modes

# Example usage:
numbers = [1, 2, 2, 3, 4, 4, 4, 5]
mode_result = find_mode(numbers)
print("Mode:", mode_result)

Mode: 4


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [74]:
# Exercise 94
def sum_of_squares(numbers):
    return sum(x**2 for x in numbers)

# Example usage:
nums = [1, 2, 3, 4]
result = sum_of_squares(nums)
print(result)

30


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [75]:
# Exercise 95
# Create the list of tuples with number and its cube
number_cubes = [(num, num**3) for num in range(1, 6)]

# Print the result
print(number_cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [76]:
# Exercise 96
def primes_up_to(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

# Example usage:
print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [77]:
# Exercise 97
def common_keys(dict1, dict2):
    # Use set intersection to find common keys
    return list(set(dict1.keys()) & set(dict2.keys()))

# Example usage:
dict_a = {'a': 1, 'b': 2, 'c': 3}
dict_b = {'b': 4, 'c': 5, 'd': 6}

print(common_keys(dict_a, dict_b))

['b', 'c']


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [78]:
# Exercise 98
def filter_long_strings(strings):
    return [s for s in strings if len(s) > 5]

# Example usage:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(filter_long_strings(words))

['banana', 'cherry', 'elderberry']


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [79]:
# Exercise 99
def strings_to_tuples(strings):
    return [(s, len(s)) for s in strings]

# Example usage:
words = ["apple", "banana", "cherry"]
result = strings_to_tuples(words)
print(result)

[('apple', 5), ('banana', 6), ('cherry', 6)]


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [80]:
# Exercise 100
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            if key in result:
                result[key] += value
            else:
                result[key] = value
    return result

# Example usage:
dicts = [
    {'a': 2, 'b': 3},
    {'a': 5, 'c': 4},
    {'b': 1, 'c': 2}
]

print(sum_dicts(dicts))

{'a': 7, 'b': 4, 'c': 6}


---